<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%=Templus.nome_aplicacao%> | <%=Templus.nome_empresa%> </title>
</head>
<body>
	<table width="600" cellspacing="0" cellpadding="10" align="center">
		<tbody>
			<tr>
				<td><%=Templus.nome_aplicacao%></td>
			</tr>
		</tbody>
	</table>

	<table width="600" cellspacing="10" cellpadding="0" bgcolor="#fafafa" align="center">
		<tbody>
			<tr>
				<td align="left">
					Você está recebendo este email pois foi feita uma solicitação de troca de senha. Para trocar sua senha, clique no link abaixo.
					<br><br>
					<%= link_to 'Trocar senha', edit_password_url(@resource, reset_password_token: @token) %>
					<br><br>
					Se você não requisitou esta ação, por favor, ignore este e-mail
					<br><br>
					Sua senha não será trocada até você acessar o link acima e criar uma nova senha.
					<br><br>
				</span>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>
