<footer class="main-footer">
  <div class="pull-right hidden-xs">
		<a href="http://www.rarolabs.com.br">
			<%=image_tag(Templus.logo_rodape, height: '20px') %>
		</a>
  </div>
  <strong>RaroLabs</strong> &copy; 2010-<%= DateTime.now.strftime("%Y") %>
</footer>